<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle} ?: 'Web Scraper'">Web Scraper</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script th:src="@{/webjars/htmx.org/1.9.12/dist/htmx.min.js}"></script>
</head>
</html>